GOOGLE_API_KEY=Your Google AI API key (Gemini)
# OPENAI_API_BASE_URL=Base URL for OpenAI-like API (for example, LM Studio API)
# OPENAI_API_KEY=Your OpenAI API key
# WEBUI_SD_API_URL=Stable Diffusion Web UI API URL
# WEBUI_SD_API_PARAMS= Stable Diffusion Web UI API params (JSON string)
TELEGRAM_BOT_NAME=Your Telegram bot name
TELEGRAM_BOT_TOKEN=Your Telegram bot token
TELEGRAM_BOT_USERNAME=Your telegram bot username
# TELEGRAM_ALLOWED_CHATS=Comma separated allowed chat IDs
# ENABLE_CHARACTER_PROTECTION=true
# CHARACTER_PROTECTION_RESPONSE=I'm sorry, but I'll continue being the character I was designed to be.
